{% extends "base.html" %}
{% block content %}
    <h1>Hey, {{ current_user.username }}!</h1>
    <h3><a href="{{ url_for('Postgroup',groupname = curr) }}">Share Something To Group:</a></h3>
    <br>
    <h3><a href="{{ url_for('GroupEvent',groupname = curr) }}">Host an Event:</a></h3>
    <br>
    <bold>Upcoming Events</bold>
    <br>
    {% for e in events %}
    <table>
    <td>Organised by
        <strong>{{ e.organiser }}:</strong></td>
        <td><strong> {{ e.ev }} </strong></td>
        <td><a href = "{{ url_for('eventjoin',eventname = e.ev) }}">JoinEvent</a></td>
    </table>
    <br>
    <br>
    {% endfor %}
    {% for post in posts %}
  <table>
<tr valign="top">
{%set x = [post.writer.username,"profile.jpg"]|join('/') %}
<td><img src= "{{ url_for('static', filename = x ) }}" alt= {{ post.writer.username }} height="80" width="80" />
<td><a href="{{ url_for('user', username=post.writer.username) }}">{{ post.writer.username }}</a> says:<br>{{ post.pg }}</td>
        </tr>
</table>
    {% endfor %}
    <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
{% endblock %}