{% extends "base.html" %}
{% block content %}
    <h1>Hey, {{ current_user.username }}!</h1>
    <table>
        <td>  <p><a href="{{ url_for('group') }}">Create New Group</a></p></td>
    </table>
     {% if form %}
    <form action="" method="post" class="form-group">
        {{ form.hidden_tag() }}
        <p>
            {{ form.post.label }}<br>
            {{ form.post(cols=32, rows=4) }}<br>
            {% for error in form.post.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endif %}
    {% for group in groups %}
    <!--{% include '_group.html' %}-->
    <p>
    <a href="{{ url_for('vu', groupname=group.groupname) }}">
    {{ group.groupname }}
    </a>
    </p> 
    {% endfor %}
    {% if prev_url %}
    <a href="{{ prev_url }}" class="pagination">More Groups</a>
    {% endif %}
    {% if next_url %}
    <a href="{{ next_url }}" class="pagination">My Groups</a>
{% endif %}
{% endblock %}